<form class="mt-4" #restForm="ngForm" (ngSubmit)="addRestaurant()" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"
      [(ngModel)]="newRest.name"
      #nameModel="ngModel" required minlength="5" [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')">
    <div *ngIf="nameModel.touched && nameModel.invalid" class="alert alert-danger">
      Name is required and at least 5 characters
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description" [(ngModel)]="newRest.description"
      #descModel="ngModel" required [ngClass]="validClasses(descModel, 'is-valid', 'is-invalid')"></textarea>
    <div *ngIf="descModel.touched && descModel.invalid" class="alert alert-danger">
      Description is required
    </div>
  </div>
  <div class="form-group">
    <label for="cuisine">Cuisine</label>
    <input type="text" class="form-control" name="cuisine" id="cuisine" placeholder="Cuisine" [(ngModel)]="newRest.cuisine"
      #cuisineModel="ngModel" required [ngClass]="validClasses(cuisineModel, 'is-valid', 'is-invalid')">
    <div *ngIf="cuisineModel.touched && cuisineModel.invalid" class="alert alert-danger">
      Cuisine is required
    </div>
  </div>
  <p>Opening days</p>
  <div class="form-group" ngModelGroup="daysGroup" #daysModel="ngModelGroup" fsOneChecked>
    <div class="custom-control custom-control-inline custom-checkbox" *ngFor="let day of days; let i = index">
      <input type="checkbox" class="custom-control-input" id="checkDay{{i}}" name="days{{i}}" [(ngModel)]="daysOpen[i]">
      <label class="custom-control-label" for="checkDay{{i}}">{{day}}</label>
    </div>
    <div *ngIf="daysModel.invalid" class="alert alert-danger">
      You must select at least one day
    </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="newRest.phone" placeholder="Phone number"
      #phoneModel="ngModel"  required pattern="([0+]?\d{2}[ -]?)?\d{9}" [ngClass]="validClasses(phoneModel, 'is-valid', 'is-invalid')">
    <div *ngIf="phoneModel.touched && phoneModel.invalid" class="alert alert-danger">
      Phone must have 9 numbers and optional country prefix
    </div>
  </div>
  <div class="form-group">
    <label for="image">Main photo</label>
    <input type="file" class="form-control" id="image" name="image" #fileImage (change)="changeImage(fileImage)"
      required>
  </div>
  <img [src]="newRest.image" alt="" id="imgPreview" #imagePreview class="img-thumbnail">

  <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
 [zoom]="[zoom]" [center]="[newRest.lng,newRest.lat]">
  <mgl-marker [lngLat]="[newRest.lng, newRest.lat]"></mgl-marker>
  <mgl-control mglGeocoder (result)="changePosition($event.result)">
  </mgl-control>
</mgl-map>


  <button type="submit" class="btn btn-primary" [disabled]="restForm.invalid ||!newRest.image">
    {{edit?'Edit ':'Add '}}
  </button>
</form>
