<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <ul class="nav nav-pills">
      <li class="nav-item">
          <a class="nav-link" href="#" (click)="toggleOrderName($event)" [ngClass]="{'active': orderByName}">Order by name</a>
      </li>
      <li class="nav-item ml-1">
          <a class="nav-link" href="#" (click)="toggleShowOpen($event)" [ngClass]="{'active': showOpen}">Show open</a>
      </li>
  </ul>
  <form class="form-inline mb-0">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" name="search" placeholder="Search" aria-label="Search">
  </form>
</nav>

<div class="card-columns mt-4">
  <fs-restaurant-card class="card" *ngFor="let rest of restaurants | restaurantFilter:orderByName:showOpen:search"
    [restaurant]="rest" (deleted)="delete(rest)">
  </fs-restaurant-card>
</div>
