<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/restaurants']">FoodScore</a>
  <ul class="navbar-nav mr-auto" *ngIf="logged">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/restaurants']" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/restaurants/new']" routerLinkActive="active">New restaurant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile/me']" routerLinkActive="active">My profile</a>
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="logged">
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
