<li class="list-group-item d-flex flex-row">
  <div>

    <a [routerLink]="['/profile',comment.user.id]" >
      <img class="rounded-circle mr-3" 
      style="width: 40px;" [src]="comment.user.avatar" alt="">
    </a>
  
  </div>
  <div>
    <div><strong>
      <a [routerLink]="['/profile',comment.user.id]">
          {{comment.user.name}}
      </a>
  
      : </strong>{{comment.text}}</div>
    <div>
      <span *ngFor="let star of [1,2,3,4,5]" class="fa"
      [ngClass]="{'fa-star': star <= comment.stars, 'fa-star-o': star > comment.stars}"></span>
    </div>

    <small>{{comment.date| date:'dd/MM/y HH:mm'}}</small>
  </div>
</li>
