
  <div class="container">
    <form novalidate class="mt-4"
    #profileForm="ngForm" (ngSubmit)="changeProfile()" >
      <legend>Edit profile</legend>

      <div class="form-group">
        <label for="correo">Email:</label>
        <input type="email" class="form-control" name="email" id="email" 
        [(ngModel)]="user.email"  #emailModel="ngModel" required  email placeholder="Email"
        [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')">
        <div *ngIf="emailModel.touched && emailModel.invalid" class="alert alert-danger">
          Email is required and  must be correct
        </div>
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="nameUser" id="name" placeholder="Name"
        [(ngModel)]="user.name"  #nameModel="ngModel" 
        required [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')" >
        <div *ngIf="nameModel.touched && nameModel.invalid" class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div >
        <p class="text-danger" * id="errorInfo2">Magnifico</p>
        <p class="text-success" id="okInfo2"></p>
      </div>
      
      <button type="submit" [disabled]="profileForm.invalid" class="btn btn-primary">Edit profile</button>
    </form>
    <form  id="form-avatar" class="mt-4"  #avatarForm="ngForm" (ngSubmit)="changeAvatar()">
      <legend>Edit avatar</legend>

      <div class="form-group">
        <input type="file" class="form-control" id="image" name="image" #fileImage (change)="changeImage(fileImage)"
        required>
      </div>
      <div class="row">
        <div class="col" class="w-100">
            <img class="w-100" id="avatar" [src]="user.avatar" alt="">
        </div>
        <div class="col">
            <img *ngIf="change" class=" w-100" [src]="newImage"  alt="" id="imgPreview">
        </div>
      </div>
      <p class="text-danger" id="errorInfo2"></p>
      <p class="text-success" id="okInfo2"></p>
      <button type="submit"  class="btn btn-primary">Edit avatar</button>
    </form>
    <form  id="form-password" class="mt-4" #passwordForm="ngForm" (ngSubmit)="changePassword()">
      <legend>Edit password</legend>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
        [(ngModel)]="user.password"  #passwordModel="ngModel" 
        required [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
        >
        <div *ngIf="passwordModel.touched && passwordModel.invalid" class="alert alert-danger">
          Password is required
        </div>
        <label for="password2">Repeat password:</label>
        <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat password"
        [(ngModel)]="user.repeatPassword"  #rpasswordModel="ngModel" 
        fsConfirmPassword="password"
        required [ngClass]="validClasses(rpasswordModel, 'is-valid', 'is-invalid')">
        <div *ngIf="rpasswordModel.touched && rpasswordModel.invalid" class="alert alert-danger">
          Repeat password must be equal to the original password
        </div>
      </div>
      <p class="text-danger" id="errorInfo3"></p>
      <p class="text-success" id="okInfo3"></p>
      <button type="submit" [disabled]="passwordForm.invalid"  class="btn btn-primary">Edit password</button>
    </form>
  </div>