<img class="card-img-top" [src]="restaurant.image" (click)="goDetails()">
<div class="card-body">
  <h5 class="card-title" (click)="goDetails()">{{restaurant.name}}</h5>
  <p class="card-text" [innerText]="restaurant.description"></p>
  <div class="card-text">
    <small class="text-muted mr-2">
      <strong>Opens: </strong>
      {{getDaysString()}}
    </small>
    <span class="badge badge-success" *ngIf="restaurant.daysOpen.includes('' + weekDay)">Open</span>
    <span class="badge badge-danger" *ngIf="!restaurant.daysOpen.includes('' + weekDay)">Closed</span>
  </div>
  <div class="card-text">
    <small class="text-muted">
      <strong>Phone: </strong>{{restaurant.phone}}
    </small>
  </div>

  <div *ngIf="auxRating !=0">
    <span *ngFor="let star of [1,2,3,4,5]" class="fa"
    [ngClass]="{'fa-star': star <= auxRating, 'fa-star-o': star > auxRating}" ></span>
  </div>
  
  <button class="mt-2 btn btn-sm btn-danger btn-delete" *ngIf="restaurant.mine" (click)="delete()">Delete</button>
  <button  class="mt-2 btn btn-sm btn-success" *ngIf="restaurant.mine"  (click)="edit()" >Edit</button>
</div>
<div class="card-footer">
  <small class="text-muted">
    {{restaurant.cuisine}}
  </small>
  <small class="text-muted">
    {{restaurant.distance}} km
  </small>
</div>
