<div class="container">
  <form action="#" id="form-register" class="mt-4" method="POST" role="form" #form="ngForm" (ngSubmit)="addUser(form)">
    <legend>Create an account</legend>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="newUser.name"
              required #name="ngModel"
              [ngClass]="validClasses(name, 'is-valid', 'is-invalid')">
              <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                Name is required and at least 5 characters
              </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" 
              [(ngModel)]="newUser.email" #email="ngModel"
              required email
              [ngClass]="validClasses(email, 'is-valid', 'is-invalid')">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                Email is required and must be correct 
              </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control"  id="password" name="password" placeholder="Password" [(ngModel)]="newUser.password"
              required #password="ngModel"
              [ngClass]="validClasses(password, 'is-valid', 'is-invalid')">
              <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
               Password is required
              </div>
              

      </div>
      <div class="form-group">
      <label for="repeatPassword">Repeat Password:</label>
      <input type="password" class="form-control" fsConfirmPassword="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password" [(ngModel)]="newUser.repeatPassword"
              required #repeatPassword="ngModel"
              [ngClass]="validClasses(repeatPassword, 'is-valid', 'is-invalid')">
              <div *ngIf="repeatPassword.touched && repeatPassword.invalid" class="alert alert-danger">
               Confirm password must match with password
               </div>
    </div>
    <div class="form-group">
      <label for="avatar">Avatar image</label>
      <input type="file" class="form-control" id="avatar" name="avatar" #fileImage (change)="changeImage(fileImage)">
    </div>
    <img id="imgPreview" class="img-thumbnail mb-4" [src]="newUser.avatar" alt="" *ngIf="newUser.avatar">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label for="lat">Latitude:</label>
        <input type="text" class="form-control" readonly id="lat" name="lat" placeholder="Geolocalizing..." [(ngModel)]="newUser.lat" #lat="ngModel">
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label for="lng">Longitude:</label>
        <input type="text" class="form-control" readonly id="lng" name="lng" placeholder="Geolocalizing..." [(ngModel)]="newUser.lng" #lng="ngModel">
      </div>
    </div>
    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button">Go back</a>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || !fileImage.files.length">Create account</button>
  </form>


</div>