
<div class="container">
<fs-restaurant-card class="mt-4 d-block" *ngIf="restaurant" [restaurant]="restaurant" >

</fs-restaurant-card>




 <div class="card mt-4">
    <div class="card-header" id="address">Restaurant's address</div>
    <div class="card-body">
      <div id="map">
        <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
        [zoom]="[zoom]" [center]="[lng,lat]">
        <mgl-marker [lngLat]="[lng, lat]"></mgl-marker>
        </mgl-map>
      </div>
    </div>
  </div>

  <ul class="list-group mt-4 mb-4" id="comments">
    <li class="list-group-item active">Restaurant comments</li>
    <fs-restaurant-comment [comment]="comment"  *ngFor="let comment of comments" ></fs-restaurant-comment>
  </ul>

  
  <form class="mt-4" *ngIf="!restaurant.commented"  #commentForm="ngForm" (ngSubmit)="addComment()"  novalidate>
    <h4>Write about this restaurant:</h4>
    <div class="form-group">
      <textarea class="form-control" name="comment" 
      [(ngModel)]="comment_text" row=4 required
      id="comment" placeholder="Write an opinion"></textarea>
    </div>
    
    <div class="star-container" (mouseleave)="rating = auxRating">
      <span *ngFor="let star of [1,2,3,4,5]" class="fa"
        [ngClass]="{'fa-star': star <= auxRating, 'fa-star-o': star > auxRating}"
        (mouseenter)="auxRating = star" (click)="change()"></span>
    </div>
    <button type="submit" [disabled]="commentForm.invalid" class="btn btn-primary mt-3">Send</button>
  </form>






<button class="btn btn-success mt-4" (click)="goBack()">Go back</button>
</div>