<div class="container">
  <div id="profile">
    <div class="row mt-4">
      <div class="col-3">
        <img class="w-100" id="avatar" [src]="user.avatar" alt="">
      </div>
      <div class="col-9">
        <h4>{{user.name}}</h4>
        <h4>
          <small class="text-muted">{{user.email}}</small>
        </h4>
        <p>

          <a  [routerLink]="['/profile/edit']" routerLinkActive="active" *ngIf="user.me" >Edit profile</a>
        </p>
        <p>
            <a  [routerLink]="['/restaurants/mine']" 
              routerLinkActive="active" *ngIf="user.me" >Show my restaurants</a>
              <a  [routerLink]="['/restaurants/user',user.id]" 
              routerLinkActive="active" *ngIf="!user.me" >Show {{user.name}}'s restaurants</a>
        </p>
      </div>
    </div>  
  </div>


  <div  class="mt-4" id="map">
    <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'"
    [zoom]="[zoom]" [center]="[lng,lat]">
    <mgl-marker [lngLat]="[lng, lat]"></mgl-marker>
    </mgl-map>
  </div>

  </div>
