<div class="container">
  <form action="#" id="form-login" class="mt-4" method="POST" role="form" (ngSubmit)="login()">
    <legend>Welcome to Angular FoodScore!</legend>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" placeholder="Email">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <p class="text-danger" *ngIf="showError">Email or password incorrect</p>
    <a class="btn btn-secondary" [routerLink]="['/auth/register']" role="button">Create account</a>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>



  <button fsGoogleLogin type="button" class="btn btn-danger"
  (loginOk)="loggedGoogle($event)" (loginError)="errorGoogle($event)">
  <i class="fab fa-google" aria-hidden="true"></i>
  Login with Google
 </button>

 <button fsFbLogin
 class="btn btn-primary" (loginOk)="loggedFacebook($event)"
 (loginError)="showError($event)" [scope]="['email', 'public_profile']">
 <i class="fab fa-facebook" aria-hidden="true"></i>
 Facebook
</button>

 
 
 <h2>{{name}}</h2>
 <p>{{email}}</p>
 <img [src]="avatar" alt="">
</div>
